pulumi>=3.32.1,<4.0.0
pulumi-kubernetes>=3.19.0,<4.0.0
# -e ../../multilanguage-packages/pulumi-k8s-servicedeployment/sdk/python/bin
pulumi_k8s_servicedeployment @ git+https://github.com/pulumi-demos/examples.git@python-components-github-ref#subdirectory=multilanguage-packages/pulumi-k8s-servicedeployment/sdk/python/bin